.nav-container {
    @apply flex items-center bg-black z-10 shadow-sm;


    .nav-content {
        @apply flex justify-between pt-6 pb-8 lg:pt-20;

        .nav-items {
            @apply flex w-full justify-between items-center;

            .nav-logo {
                @apply font-bold cursor-pointer min-w-max text-gray-100;
                font-family: 'Homemade Apple', sans-serif;
                transform: translate(0, 7px);
            }

            .burger-menu {
                @apply text-gray-100 absolute right-0 mr-4 lg:hidden;
            }
        }

        .nav-links {
            @apply space-x-10 hidden lg:flex;
        }
    }
}

.mobile-links {
    @apply absolute z-0 top-0 h-screen w-screen flex flex-col justify-center items-center space-y-5 transform -translate-y-full opacity-0 transition duration-300 ease-in-out;

    &.active {
        @apply translate-y-0 opacity-100;
    }
}

.nav-link {
    @apply text-gray-400 text-2xl;
    font-family: 'Caveat', sans-serif;

    &:hover {
        @apply text-gray-100;
    }

    &.active {
        @apply font-bold text-white;
    }
}
